<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.1" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="Modernizr" version="2.0.6" />
  <package id="RazorScriptManager" version="0.7" />
  <package id="YUICompressor.NET" version="1.7.0.0" />
</packages>